@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: black;
}

body {
  background-color: #ffffff;
}
a{
  color: #368dc3;
}

.portada {
  width: 100%;
  height: 20vh;
  background: url(../Examen01HTML/media/pexels-markus-spiske-4439901.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
  /* margin-bottom: 10px; */
}

.perfil {
  width: 100%;
  height: 30vh;
  /* background-color: aquamarine; */
  z-index: -1;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
  /* position: relative; */
  background-color: #ffffff;
  padding: 1rem;
}

.perfil__titulo{
  font-size: 1.5rem;
  margin-top: 8vh;
}
.imagenPerfil {
  height: 16vh;
  position: absolute;
  top: 13vh;
  z-index: 1;
  border-radius: 50%;
  border: 5px solid #ffffff;
  left: 5vw;
}

.perfil__rol{
  color: #53646e;
  font-size: 1rem;
}

.nav-bar {
  height: 5vh;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
}

@media screen and (max-width: 767px) {
  .nav-bar {
    display: none;
  }
}
