@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --border: 1rem;
  --mb-elements: 1vh;
  --bgc-elements: #ffffff;
  --shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.205);
}

body {
  /* width: 90vw; */
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  /* background-color: #fbfbfb; */
  /* justify-content: center; */
  /* background-color: #368dc33f; */
  background: linear-gradient(217deg, #f1b6e0, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #b3b0f8, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #8addf8, rgba(0, 0, 255, 0) 70.71%);
  background-attachment: fixed;
}


/* nav{
  height: 8vh;
  background: red;
} */
.container {
  max-width: 768px;
  margin: 0 auto;
}

ol li {
  margin: 0.5rem 2rem;
}

.feed {
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 2rem;
  box-shadow: var(--shadow);
  background: var(--bgc-elements);
}

.feed__post {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: center;
}

.feed__post--user-image {
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}

.feed__post--caption {
  margin-bottom: 0.5rem;
}

.feed__post--thumbnail {
  border-radius: var(--border);
}

@media screen and (max-width: 639px) {
  .feed {
    margin: 1rem 1rem;
  }
}
